<ion-header>
  <ion-toolbar id="header" color="primary" class="ion-align-items-center">
    <ion-buttons>
      <ion-menu-button menu="main-menu">
        <ion-icon
          color="success"
          src="../../../assets/icons/menu.svg"
        ></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="pageBg">
    <img src="../../../assets/pagesBg/bg2.svg" alt="" />
    <div id="pageBgFilter"></div>
    <div id="pageName">DIRECTOR</div>
  </div>

  <div class="content">
    <div class="profileBox">
      <svg
        width="337"
        height="435"
        viewBox="0 0 337 435"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        style="position: absolute; opacity: 0"
      >
        <clipPath id="pathBox" clipPathUnits="objectBoundingBox">
          <path
            d="M0.001,0.264 C0.001,0.252,0.014,0.242,0.03,0.242 H0.253 C0.27,0.242,0.284,0.231,0.284,0.218 V0.023 C0.284,0.011,0.297,0.001,0.313,0.001 H0.973 C0.989,0.001,1,0.011,1,0.023 V0.979 C1,0.991,0.989,1,0.973,1 H0.03 C0.014,1,0.001,0.991,0.001,0.979 V0.264"
            stroke="#B9B9B9"
          />
        </clipPath>
      </svg>

      <div class="boxImg">
        <img src="../../../assets/images/directorPic.svg" alt="" />
      </div>

      <div class="profileNameBox">
        <div class="profileName">Mrs. Vicky P. Vital, Ed. D</div>
      </div>

      <div class="profileDescription">
        DMC is now headed by Dr. Vicky P. Vital. Under her leadership, for the
        Universal Access to Quality Free Education, the campus was awarded with
        nine (9) Certificates of Program Compliance (COPC) in 2019 by the
        Commission on Higher Education (CHED).
      </div>
    </div>
  </div>
</ion-content>
