<ion-header>
  <ion-toolbar id="header" color="primary" class="ion-align-items-center">
    <ion-buttons>
      <ion-menu-button menu="main-menu">
        <ion-icon
          color="success"
          src="../../../assets/icons/menu.svg"
        ></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="pageBg">
    <img src="../../../assets/pagesBg/bg2.svg" alt="" />
    <div id="pageBgFilter"></div>
    <div id="pageName">Vision & Mission</div>
  </div>
  <div class="titlebox" style="margin-top: 1.5rem">VISION</div>
  <div class="content">
    DHVSU envisions of becoming one of the lead universities in the ASEAN Region
    in producing globally competitive professionals who are capable of creating,
    applying and transferring knowledge and technology for the sustainable
    development of the humanity and society.
  </div>
  <div class="titlebox" style="margin-top: 1rem">MISSION</div>
  <div class="content">
    DHVSU commits itself to provide a conducive environment for the holistic
    development of students to become globally competitive professionals through
    quality instruction and services; innovation and research towards the
    sustainable development of society.
  </div>
</ion-content>
