<ion-header>
  <ion-toolbar id="header" color="primary" class="ion-align-items-center">
    <ion-buttons>
      <ion-menu-button menu="main-menu">
        <ion-icon
          color="success"
          src="../../../assets/icons/menu.svg"
        ></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="pageBg">
    <img src="../../../assets/pagesBg/bg2.svg" alt="" />
    <div id="pageBgFilter"></div>
    <div id="pageName">Courses Offered</div>
  </div>

  <ion-list class="ion-padding">
    <ion-item class="ion-no-padding"
      >Bachelor of Science in Accountancy</ion-item
    >
    <ion-item class="ion-no-padding"
      >Bachelor of Science in Business Administration
    </ion-item>

    <ion-list>
      <ion-item class="underCourse"> Major In Marketing</ion-item>
    </ion-list>

    <ion-item class="ion-no-padding"
      >Bachelor of Science in Information Technology
    </ion-item>

    <ion-item class="ion-no-padding"
      >Bachelor of Elementary Education
    </ion-item>
    <ion-list>
      <ion-item class="underCourse"> Major in General Education</ion-item>
    </ion-list>

    <ion-item class="ion-no-padding">Bachelor of Secondary Education </ion-item>
    <ion-list>
      <ion-item class="underCourse"> Major in English</ion-item>
      <ion-item class="underCourse">Major in Filipino</ion-item>
    </ion-list>

    <ion-item class="ion-no-padding">Bachelor in Physical Education </ion-item>
    <ion-item class="ion-no-padding"
      >Bachelor of Technology in Livelihood Education
    </ion-item>
    <ion-list>
      <ion-item class="underCourse"> Major in Home Economics</ion-item>
    </ion-list>
    <ion-item class="ion-no-padding"
      >Bachelor of Science in Hospitality Management</ion-item
    >
    <ion-item class="ion-no-padding"
      >Bachelor of Science in Industrial Technology</ion-item
    >
    <ion-list>
      <ion-item class="underCourse"> Major in Automotive Technology</ion-item>
      <ion-item class="underCourse">Major in Graphic Technology</ion-item>
      <ion-item class="underCourse"> Major in Electrical Technology</ion-item>
      <ion-item class="underCourse">Major in Food Service Management</ion-item>
    </ion-list>
  </ion-list>
</ion-content>
<!-- 
   <ion-list>
      <ion-item class="underCourse">dd</ion-item>
    </ion-list> 
  -->
