<ion-header>
  <ion-toolbar id="header" color="primary" class="ion-align-items-center">
    <ion-buttons>
      <ion-menu-button menu="main-menu">
        <ion-icon
          color="success"
          src="../../../assets/icons/menu.svg"
        ></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="pageBg">
    <img src="../../../assets/pagesBg/bg2.svg" alt="" />
    <div id="pageBgFilter"></div>
    <div id="pageName">HISTORY</div>
  </div>

  <div class="content">
    The DHVSU – Mexico Campus (DMC) was initially established as an extension
    campus during the administration of former University President Ernesto T.
    Nicdao, at the time when the lahar calamity was still a threat in Bacolor.
    The campus started its operation in 1997 with a total of 231 college
    students. The initial program offerings were (1.) Bachelor of Science in
    Industrial Education, (2.) Bachelor of Science in Industrial Technology,
    (3.) Bachelor of Science in Civil Engineering, (4.) Bachelor of Science in
    Electrical Engineering, (5.) Bachelor of Science in Mechanical Engineering,
    and (6.) the ladderized programs in Technological Education.
  </div>
</ion-content>
