<ion-header>
  <ion-toolbar id="header" color="primary" class="ion-align-items-center">
    <ion-buttons>
      <ion-menu-button menu="main-menu">
        <ion-icon
          color="success"
          src="../../../assets/icons/menu.svg"
        ></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="pageBg">
    <img src="../../../assets/pagesBg/bg1.svg" alt="" />
    <div id="pageBgFilter"></div>
    <div id="pageName">MEXICO CAMPUS</div>
  </div>

  <div class="titlebox" style="margin-top: 1.5rem">Overview</div>
  <div class="content" style="font-size: 0.6rem">
    <div style="margin-bottom: rem">
      <p>
        <span style="font-weight: 700">
          Don Honorio Ventura State University - Mexico (DHVSU - Mexico)</span
        >
        is a public educational institution established in 1997 as an extension
        campus of what then known Don Honorio Ventura College of Arts and Trades
        (DHVCAT).The institution operated as an extension campus for two decades
        and was just officially converted into a satellite campus in 2008 as
        part of the DHVSU system.
      </p>
      <p>
        The Mexico campus provides undergraduate programs in the fields of
        <span style="font-weight: 700"
          >Teacher Education, Industrial Technology, Business Management,
          Information Technology</span
        >, and
        <span style="font-weight: 700"> Hotel and Restaurant Management</span>.
        The campus also has a ladderized program in Industrial Technology, the
        only ladderized program offered among the satellite campuses in the
        system.
      </p>
    </div>
    <div id="homeSlogan">
      "Shaping Minds, Advancing Technologies, and Creating Brighter Futures"
    </div>
  </div>
</ion-content>
